.logo a img {
    width: 50px;
    height: 32px;
    opacity: 1;
}
.logo h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #000000;
}
.page-banner {
    background-image: url('../images/banner1.png');
}
.cart-item-info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.text-light {
    color: var(--text-light);
}
.total-price {
    color: var(--primary-color);
    font-size: 1.3rem;
}
