.logo a img {
  width: 50px;
  height: 32px;
  opacity: 1;
}

.logo h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000000;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.page-banner {
  background-image: url("../images/banner1.png");
}

.filter-results {
  border-left: 2px solid #9f9f9f;
  padding-left: 20px;
  margin-left: 10px;
}

.product-card > a {
  text-decoration: none;
  color: inherit;
}
